@model IEnumerable<Pharmacy.Domain.Entities.PrescriptionDTO>

@{
    ViewData["Title"] = "My Prescriptions";

     if(this.User.IsInRole("User"))
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutNoLogin.cshtml";
    }}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">Prescriptions</h1>
            <p class="lead">List of your prescriptions.</p>
            <hr />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Patient</th>
                        <th class="text-end">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.PatientName</td>
                            <td class="text-end">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Details</a>
                                <form style="display:inline;" asp-action="Delete" asp-route-id="@item.Id" onsubmit="ConfirmDeletePrescription(event);">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
